<div>
  <h2>List songs</h2>
  <%= link_to 'New song', new_admin_song_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Duration</th>
      <th>Rating</th>
      <th>Progress</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song|%>
        <tr>
          <td><%= song.title %></td>
          <td><%= song.duration %></td>
          <td><%= song.rating %></td>
          <td><%= song.progress %></td>
          <td>
            <%= link_to 'Edit', edit_admin_song_path(song) %>
            <%= link_to 'Destroy', admin_song_path(song), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
