<h2><%= @song.title %></h2>
<div>
  <p><b>Rating:</b> <%= @song.rating %></p>
  <p><b>Duration:</b> <%= @song.duration %></p>
  <p><b>Progress:</b> <%= @song.progress %></p>
</div>
<%= link_to 'Back', admin_songs_path %>
